@page
@model IndexModel
@{
    ViewData["Title"] = "onremote - Remote Support neu definiert.";
}

<div class="container">
    <div class="row">
        <div class="col-xxl-5 col-xl-6 col-lg-8">
            <div class="hero__content-2">
                <h2 class="hero__title-2">Remote Support neu definiert.</h2>
                <p>Video Telefonie mit Augemented Reality und Künstlicher Intelligenz. Damit Du schneller mit Partnern, Lieferanten und Kunden kommunizierst.</p>
                <button class="btn fifth">Button 5</button>
            </div>
        </div>
        <div class="col-xxl-6 offset-xxl-1 col-xl-6">
            <div class="hero__thumb-2 mt-80">
                <div class="hero__thumb-inner p-relative ml-90">
                    <img class="hero-2-thumb" src="/img/3d-boxes.png" />
                    <img class="hero-2-girl" src="/img/woman-phone.png" />
                    <img class="hero-2-thumb-sm" src="/img/pfeil.png">
                    <img class="hero-2-thumb-sm-2" src="/img/man-laptop.png" />
                    <img class="hero-2-thumb-sm-3" src="/img/circle.png"/>
                    <img class="hero-2-leaf" src="/img/hero-2-leaf.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row benefits">
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/cost.png"/>
            <h3>weniger Kosten</h3>
            <p>Remote Support senkt Kosten</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/automation.png" />
            <h3>weniger Bürokratie</h3>
            <p>Automatische Protokolle</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/earth.png" />
            <h3>weniger CO2</h3>
            <p>Keine Anfahrt</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/time.png" />
            <h3>höhere Fixrate</h3>
            <p>Schnell und effizient</p>
        </div>
    </div>
</div>

<div id="svg">
    <path class="cls-1" d="M0,74.364V7.724C77.251,24.718,154.5,41.711,245.551,38.71s195.9-26,297.585-34.494S743.358,1.722,841.89,7.724v66.64Z"></path>
</div>
