@page
@model IndexModel
@{
    ViewData["Title"] = "onremote - Remote Support neu definiert.";
}

<div class="container">
    <div class="row">
        <div class="col-xxl-5 col-xl-6 col-lg-8">
            <div class="hero__content-2">
                <h2 class="hero__title-2">Remote Support neu definiert.</h2>
                <p>Video Telefonie mit Augemented Reality und Künstlicher Intelligenz. Damit Du schneller mit Partnern, Lieferanten und Kunden kommunizierst.</p>
                <button class="btn fifth">Button 5</button>
            </div>
        </div>
        <div class="col-xxl-6 offset-xxl-1 col-xl-6">
            <div class="hero__thumb-2 mt-80">
                <div class="hero__thumb-inner p-relative ml-90">
                    <img class="hero-2-thumb" src="/img/3d-boxes.png" />
                    <img class="hero-2-girl" src="/img/woman-phone.png" />
                    <img class="hero-2-thumb-sm" src="/img/pfeil.png">
                    <img class="hero-2-thumb-sm-2" src="/img/man-laptop.png" />
                    <img class="hero-2-thumb-sm-3" src="/img/circle.png"/>
                    <img class="hero-2-leaf" src="/img/hero-2-leaf.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="row benefits">
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/cost.png"/>
            <h3>weniger Kosten</h3>
            <p>Remote Support senkt Kosten</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/automation.png" />
            <h3>weniger Bürokratie</h3>
            <p>Automatische Protokolle</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/earth.png" />
            <h3>weniger CO2</h3>
            <p>Keine Anfahrt</p>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6 col-12">
            <img src="~/img/time.png" />
            <h3>höhere Fixrate</h3>
            <p>Schnell und effizient</p>
        </div>
    </div>
</div>


<svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 210" version="1.1"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(244,249,253)" offset="0%"></stop><stop stop-color="rgba(255, 179, 11, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="#F4F9FD" d="M0,42L120,66.5C240,91,480,140,720,136.5C960,133,1200,77,1440,66.5C1680,56,1920,91,2160,94.5C2400,98,2640,70,2880,59.5C3120,49,3360,56,3600,63C3840,70,4080,77,4320,80.5C4560,84,4800,84,5040,80.5C5280,77,5520,70,5760,87.5C6000,105,6240,147,6480,143.5C6720,140,6960,91,7200,80.5C7440,70,7680,98,7920,112C8160,126,8400,126,8640,122.5C8880,119,9120,112,9360,101.5C9600,91,9840,77,10080,80.5C10320,84,10560,105,10800,105C11040,105,11280,84,11520,94.5C11760,105,12000,147,12240,136.5C12480,126,12720,63,12960,42C13200,21,13440,42,13680,73.5C13920,105,14160,147,14400,164.5C14640,182,14880,175,15120,161C15360,147,15600,126,15840,101.5C16080,77,16320,49,16560,45.5C16800,42,17040,63,17160,73.5L17280,84L17280,210L17160,210C17040,210,16800,210,16560,210C16320,210,16080,210,15840,210C15600,210,15360,210,15120,210C14880,210,14640,210,14400,210C14160,210,13920,210,13680,210C13440,210,13200,210,12960,210C12720,210,12480,210,12240,210C12000,210,11760,210,11520,210C11280,210,11040,210,10800,210C10560,210,10320,210,10080,210C9840,210,9600,210,9360,210C9120,210,8880,210,8640,210C8400,210,8160,210,7920,210C7680,210,7440,210,7200,210C6960,210,6720,210,6480,210C6240,210,6000,210,5760,210C5520,210,5280,210,5040,210C4800,210,4560,210,4320,210C4080,210,3840,210,3600,210C3360,210,3120,210,2880,210C2640,210,2400,210,2160,210C1920,210,1680,210,1440,210C1200,210,960,210,720,210C480,210,240,210,120,210L0,210Z"></path></svg>

<div class="step">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <img src="~/img/demo1.png" />
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-center ">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle"><span>1</span></h6>
                        <h5 class="card-title">Keine Wartezeit</h5>
                        <p class="card-text">Per Videotelefonie ohne Wartezeit mit dem Office, den Arbeitskollegen, den Lieferanten oder den Kunden verbinden.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <img src="~/img/demo2.png" />
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-center ">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle"><span>2</span></h6>
                        <h5 class="card-title">Keine Wartezeit</h5>
                        <p class="card-text">Per Videotelefonie ohne Wartezeit mit dem Office, den Arbeitskollegen, den Lieferanten oder den Kunden verbinden.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <img src="~/img/demo3.png" />
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 d-flex flex-column justify-content-center ">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle"><span>3</span></h6>
                        <h5 class="card-title">Keine Wartezeit</h5>
                        <p class="card-text">Per Videotelefonie ohne Wartezeit mit dem Office, den Arbeitskollegen, den Lieferanten oder den Kunden verbinden.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 title">
                Features
            </div>
        </div>

        <div class="row first_section">
            <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center left_side">
                <div class="icon flex-column justify-content-center">
                    <img src="~/img/f11.svg" />
                </div>
                <div class="content">
                    Augmented Reality (AR)
                </div>
            </div>

            <div class="col-xl-8  col-lg-8 col-md-8 col-sm-12 right_side ">
                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f12.svg" />
                    </div>
                    <div class="content col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Remote-Drawing</h4>
                        <p>Während der Videotelefonie vom Computer aus auf dem Handy zeichnen und umgekehrt.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f13.svg" />
                    </div>
                    <div class=" col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Remote-Pinning</h4>
                        <p>Mit Pin-IT einzelne Elemente dauerhaft markieren sowie Notizen, Bilder, Dateien und Sprachmemos hinzufügen.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f14.svg" />
                    </div>
                    <div class=" col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>IoT</h4>
                        <p>Herstellerinformationen oder Details zu deinen Geräten abrufen und diese mit Kunden oder Partnern teilen.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f15.svg" />
                    </div>
                    <div class="col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Indoor Navigation</h4>
                        <p>Fixpunkte mit Beacons oder Bildmarkern innerhalb von Gebäuden zur Identifikation von Standorten wie Stockwerken oder Teilbereichen setzen.</p>
                    </div>
                </div>

            </div>

        </div>


        <div class="row second_section">
            <div class="col-xl-4  col-lg-4 col-md-4 col-sm-12 d-flex flex-column justify-content-center left_side">
                <div class="icon flex-column justify-content-center">
                    <img src="~/img/f21.svg" />
                </div>
                <div class="content">
                   Künstliche Intelligenz (KI)  
                </div>
            </div>

            <div class="col-xl-8  col-lg-8 col-md-8 col-sm-12 right_side ">

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f22.svg" />
                    </div>
                    <div class="content col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Texterkennung</h4>
                        <p>Sprechen statt Tippen. Onremote transkribiert sämtlich Schweizer Dialekte von Schweizerdeutsch ins Hochdeutsche.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f23.svg" />
                    </div>
                    <div class=" col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Protokollieren & Qualitätsmanagement</h4>
                        <p>Sämtliche Daten werden kontextbasiert abgelegt und sind ohne langes Suchen innert Sekunden verfügbar.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f24.svg" />
                    </div>
                    <div class=" col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>E-Learnings</h4>
                        <p>Automatische Wissensdatenbank und E-Learnings für Kunden und Partner.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="icon col-xl-2  col-lg-2 col-md-2 col-sm-12 justify-content-center">
                        <img src="~/img/f25.svg" />
                    </div>
                    <div class="col-xl-10  col-lg-10 col-md-10 col-sm-12">
                        <h4>Machine Learning</h4>
                        <p>Datensätze für Machine Learning bereitstellen und die KI trainieren und verbessern.</p>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<div class="usecases">
    <div class="container">
        <div class="row">
            <div class="col-12 title">
                Usecases
            </div>
        </div>
        <div class="row">
            <div class="col-12 header">
                Wir arbeiten mit Partnern an Einsatzmöglichkeiten in folgenden Branchen:
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="Handwerker" aria-selected="true">Handwerker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="Health" aria-selected="false">Health</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="Retail" aria-selected="false">Retail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="Versicherung" aria-selected="false">Versicherung</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="Handwerker-tab">
                        <div class="row">
                            <div class="col-md-6 justify-content-center">
                                <iframe id="video-construction" src="https://www.youtube.com/embed/0eDRhhV9XkM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            <div class="col-md-6">
                                <h4>Handwerker</h4>
                                <p>Protokollierung und Rapportierung mit Standortdaten und Stockwerkerkennung mittels Beacon-Technologie innerhalb von mehrstöckigen Baustellen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="Health-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <iframe id="video-health" src="https://www.youtube.com/embed/5Jo4mBHRX78?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                            </div>
                            <div class="col-md-6">
                                <h4>Health</h4>
                                <p>Digitales Spital mit automatisierten Prozessen für patientenfreundliche und kostensenkende Abwicklung von Diagnosen und Behandlungen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="Retail-tab">
                        <div class="row">
                            <div class="col-12">
                                <h4>Coming Soon</h4>
                                <p>Taskmanagement für Qualitätsmanagement für Architektur in Geschäften.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="Versicherung-tab">
                        <div class="row">
                            <div class="col-12">
                                <h4>Coming Soon</h4>
                                <p>Onremote für schnelle und unkomplizierte Schadensrapportierung und dynamische Preisgestaltung im Offertenwesen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <div class="row title">
            <div class="col-12">
                Verwaltungsrat
            </div>
        </div>

        <div class="row members">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team11.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team12.jpg" />
            </div>
        </div>


        <div class="row title">
            <div class="col-12">
                Gründer und Geschäftsleitung
            </div>
        </div>

        <div class="row members">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team21.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team22.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team23.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team24.jpg" />
            </div>
        </div>

        <div class="row title">
            <div class="col-12">
                Team
            </div>
        </div>

        <div class="row members">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team31.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team32.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team33.jpg" />
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 member">
                <img src="~/img/team34.jpg" />
            </div>
        </div>

    </div>
</div>